/* .text_center{
    display: block !important;
    margin:auto !important;
}
.design_popup{
    margin-top: 100px;
} */

.designCard {
    text-align: left !important;

}
.button_design{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}