.discover_btn{
     display: flex;
    align-items: center;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    border: 3px solid #ffff;
    background-color: #FF4F5A;
    box-shadow: 5px 7px 20px #0009;
    padding: 10px;
    font-weight: bold;
    color: #ffff;
}
.animation_main{
    margin-top: 50px;
    margin-bottom: 50px;
}




/* #wheel_Back{
    animation: wheel 1s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes wheel{
    from{
     transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
} */