.facilities {
    color: black;
    background-color: rgb(253, 191, 77);
    /* background: url("../../../images/bgi3.jpg") no-repeat center;
    background-size: cover;
    height: auto;
    filter: blur(50px); */
    /* padding-top: 180px; */
}