.facilities {
    color: white;
    background-color: orange;
    /* background: url("../../../images/bgi3.jpg") no-repeat center;
    background-size: cover;
    height: 500px; */
    /* padding-top: 180px; */
}