.small_box {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  color: black !important;
  margin-top: 5px;
  padding: 5px;
}
.small_box:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(77, 75, 75);
  color: #ffffff !important;
}
.drop_Down {
  height: 600px !important;
}
.margin_bottom {
  margin-bottom: 20px;
}
.text_right {
  text-align: right;
}
.navigation_btn{
    margin-top: 40px;
}
.Range_slider{
    margin-top: 25px;
}