.about-banner img {
    width: 10%;
    object-fit: cover;
    background-size: contain;
}

.about-title h1,
p {

    position: relative;
    left: 20%;
    top: 50%;
    margin: 20px;
}

.about-section {
    position: relative;
}