.about-banner img {
    width: 10%;
    object-fit: cover;
    background-size: contain;
}

.about-title h1,
p {
    margin-top: 100%;
    margin-left: 50%;
    margin: 20px;
}

.about-section {
    position: relative;
}

.about-img img {
    width: 100%;
    margin-top: -80px;
}

.bullet-point {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    color: #fd9902;
    margin: 35px auto;
}

@media only screen and (max-width: 768px) {
    .bullet-point {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .img-hide img {
        visibility: hidden;
    }

    .about-img img {
        visibility: hidden;
    }


}